@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .slanted-corners {
        clip-path: polygon(
            1.5rem 0,
            calc(100% - 1.5rem) 0%,
            100% 1.5rem,
            100% calc(100% - 1.5rem),
            calc(100% - 1.5rem) 100%,
            1.5rem 100%,
            0% calc(100% - 1.5rem),
            0% 1.5rem
        );
    }

    .bg-circle > * {
        display: block;
        clip-path: circle(35% at center);
    }

    .star {
        position: absolute;
        right: 1.5rem;
        top: 0.5rem;
        width: 3rem;
        height: 3rem;
        background-color: #dc2626;
        clip-path: polygon(
            50% 0%,
            61% 35%,
            98% 35%,
            68% 57%,
            79% 91%,
            50% 70%,
            21% 91%,
            32% 57%,
            2% 35%,
            39% 35%
        );
    }
}
